<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>897717473408-9odp1ur6l3ev4rk3mdspkrjdp29rc9lq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.897717473408-9odp1ur6l3ev4rk3mdspkrjdp29rc9lq</string>
	<key>API_KEY</key>
	<string>AIzaSyB3A_5BrNpUFQxYN7t-wD74nngIk_ThIKw</string>
	<key>GCM_SENDER_ID</key>
	<string>897717473408</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>raul.FirstMapKitApp</string>
	<key>PROJECT_ID</key>
	<string>firstmapkitapp</string>
	<key>STORAGE_BUCKET</key>
	<string>firstmapkitapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:897717473408:ios:16b00b4f097c1e49711665</string>
	<key>DATABASE_URL</key>
	<string>https://firstmapkitapp-default-rtdb.firebaseio.com</string>
</dict>
</plist>